/*
gold        #ffbe4f	(255,190,79)
aqua        #6bd2db	(107,210,219)
dark aqua   #0ea7b5	(14,167,181)
navy        #0c457d	(12,69,125)
orange      #e8702a	(232,112,42)
*/

body {
    background-color: #0c457d;
    font-family: "system-ui";
}

h1 {
    color: #e8702a
}

h2 {
    color: #6bd2db
}

h3 {
    color: #6bd2db
}

.portfolio-item{
    background-color: #0ea7b5;
}

#skills{
    list-style-type: "\1F4BB"
}

* {
    color: white
  }