/*
gold        #ffbe4f	(255,190,79)
aqua        #6bd2db	(107,210,219)
dark aqua   #0ea7b5	(14,167,181)
navy        #0c457d	(12,69,125)
orange      #e8702a	(232,112,42)
*/

body {
    background-color: white;
    font-family: "system-ui";
    padding: 30px;
    flex-direction:column;
    display: flex;
    background-image: radial-gradient(rgba(12,69,125, 0.9), rgba(12,69,125,1));
}

h1 {
    color: #ffbe4f
}

h2 {
    color: #ffbe4f;
    margin-top: 75px;
}

h3 {
    color: #6bd2db;
    font-size:x-large;
}

a {
    text-decoration: none;
    font-weight: bold;
}

p {
    text-align: start;
}

.container{
    width: 70%;
}

#portfolio,
 #blog{
    align-self:flex-end;
    justify-content: end;
    text-align: end;
}

#portfolio-container{
    display:flex; 
    list-style-type: none;
}

.portfolio-item{
    width: 50%;
    margin: 20px;
    margin-right: 0px;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(14,167,181, 0.75);
}

.iphone-screenshot{
    max-width: 40%;
    height: auto;
    flex: 1 1 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-screenshot-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li > h3 {
    text-align: center;
    color: #0c457d
}

#skills{
    list-style-type: "\1F4BB"
}

#socials-container{
    top: 50px;
    right: 50px;
    position: absolute;
}

#socials{
    display:flex;
    align-items: center;
    list-style-type: none;
}

.baby-icon{
    width: 24px;
    height: 24px;
    margin: 10px;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

* {
    color: white
  }